.login-container {

    width: 50rem;

}
.logo-container{
top: 3%;
}

.content-container {
    gap:.6rem ;
    margin-top: 6rem;
}

.policy {
    color: #868e96;
    margin-left: .6rem
}
.terms{
    gap: 1rem;
}
.policy .condition:hover{
    text-decoration: underline;
}
.check {
    display: flex;
    flex-direction: column;

}

.checkbox {
    position: relative;
    overflow: hidden;
    top: 2px !important;
    left: 0px !important;
}

.checkbox__input {
    position: absolute;
    top: -100px;
    left: -100px;
}

.checkbox__inner {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #003380;
    background: #fffffff7 no-repeat center;
}

.checkbox__input:checked+.checkbox__inner {
    border-color: #003380;
    background-color: #003380;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='14px' height='10px' viewBox='0 0 14 10' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 59.1 (86144) - https://sketch.com --%3E%3Ctitle%3Echeck%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='ios_modification' transform='translate(-27.000000, -191.000000)' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cg id='Group-Copy' transform='translate(0.000000, 164.000000)'%3E%3Cg id='ic-check-18px' transform='translate(25.000000, 23.000000)'%3E%3Cpolygon id='check' points='6.61 11.89 3.5 8.78 2.44 9.84 6.61 14 15.56 5.05 14.5 4'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 14px 10px;
}


/* 2. Desktop (min-width: 64em) */
@media (min-width: 64em) {
    html {
        font-size: 60%;
    }

    
}

/* 3. Tablet Landscape (min-width: 48em and max-width: 64em) */
@media (min-width: 48em) and (max-width: 64em) and (orientation: landscape) {
    html {
        font-size: 30%;
    }
}

/* 4. Tablet Portrait (min-width: 48em and max-width: 64em) */
@media (min-width: 48em) and (max-width: 64em) and (orientation: portrait) {
    html {
        font-size: 90%;
    }
}

/* 5. Mobile Landscape (max-width: 57em) */
@media (max-width: 57em) and (orientation: landscape) {
    html {
        font-size: 30%;
    }

   
}

/* 6. Mobile Portrait (max-width: 47.9375em) */
@media (max-width: 47.9375em) and (orientation: portrait) {
    html {
        font-size: 45%;
    }
}