@import url(https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap);

body,
html {
    overflow-x: hidden
}

*,
body {
    margin: 0
}

.login-background,
body {
    height: 100vh;
    width: 100%
}

* {
    padding: 0;
    box-sizing: border-box
}

html {
    font-size: 62.5%
}

body {
    font-family: Outfit, sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555
}

.login-background {
    background-image: linear-gradient(to right bottom, rgba(98, 204, 254, .5), rgba(21, 35, 115, .3)), url('/login/img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative
}

.company,
.login-container,
.logo-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%)
}

.login-container {
    top: 50%;
    box-shadow: rgba(0, 0, 0, .15) 1.95px 1.95px 2.6px;
    border-radius: 1.2rem;
    width: 40rem;
    height: auto;
    background-color: rgba(240, 240, 240, 0.769)
}

.logo-container {
    width: 10rem;
    height: 5rem;
    border-radius: 10rem 10rem 0 0;
    top: -2.4rem;
    overflow: hidden;
    background-color: rgba(240, 240, 240, 0.769);
}

.logo {
   
    width: 20%;
    height:20%;
    margin: auto;
    position: relative;
        top: 0;
        left: 50%;
        transform: translate(-50%, -76%);

}

.company {
    text-align: center;
    z-index: 1000;
    top: 6%
}

.company-name {
    font-size: 2rem;
    font-weight: 600;
    color: #003380
}

.content-container {
    margin-top: 4rem;
    padding: 2.4rem 0;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    margin-left: 4rem;
    margin-right: 4rem
}

.action,
.content {
    display: flex;
    gap: .6rem
}

.content {
    flex-direction: column;
    position: relative
}

.display-text {
    font-size: 1.4rem;
    font-weight: 500;
    color: #343a40
}

.input-box {
    overflow: hidden;
    position: relative
}

.input-box input {
    border: 1px solid #868e96;
    border-radius: 1.9rem;
    outline: 0;
    background-color: #f0f0f0;
    padding: 1rem 1.6rem;
    color: #495057;
    font-size: 1.4rem;
    width: 100%;
    overflow: hidden;
    transition: border-color .3s
}

.input-box input:focus {
    border: 2px solid #868e96;
    background-color: #e6ebf2
}

.show-pwd {
    padding: 1.6rem;
    position: absolute;
    top: -18%;
    right: 0;
    cursor: pointer
}

.show-pwd svg {
    fill: #868e96;
    height: 2.2rem;
    width: 2.2rem
}

.error-message {
    font-size: 1.2rem;
    color: #ff6b6b;
    display: none
}

.forgot-password {
    font-size: 1.2rem;
    font-weight: 500;
    color: #868e96;
    margin-left: auto;
    cursor: pointer
}

.forgot-password:hover {
    color: #0076d7;
    text-decoration: underline
}

.space-btw {
    display: flex;
    justify-content: space-between
}

.create-accnt,
.login-btn {
    font-size: 1.4rem;
    cursor: pointer
}

.action {
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.login-btn {
    border: none;
    padding: 1.4rem 3.6rem;
    margin: 2rem auto 1rem;
    background-color: #0076d7;
    color: #f0f0f0;
    border-radius: 39px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.6rem
}

.login-btn:hover {
    background-color: #002966;
    transition: .4s;
    box-shadow: rgba(50, 50, 93, .25) 0 13px 27px -5px, rgba(0, 0, 0, .3) 0 8px 16px -8px
}

.create-accnt {
    margin: 0 auto;
    color: #868e96;
    text-decoration: none
}

.create-accnt strong {
    color: #0076d7
}

.loader {
    width: 22px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(253, 250, 250, .5) 30%, #0000 0 70%, #fff 0) 50%/8% 100%, linear-gradient(90deg, rgba(255, 249, 249, .25) 30%, #fffafa00 0 70%, rgba(255, 254, 254, .75) 0) 50%/100% 8%;
    background-repeat: no-repeat;
    animation: 1s steps(12) infinite l23
}

.loader::after,
.loader::before {
    content: "";
    grid-area: 1/1;
    border-radius: 50%;
    background: inherit;
    opacity: .915;
    transform: rotate(30deg)
}

.loader::after {
    opacity: .83;
    transform: rotate(60deg)
}

.icon,
.loader {
    display: none
}

.loader.active {
    display: grid
}

.icon.hidden {
    display: block;
    fill: #f0f0f0
}

@keyframes l23 {
    100% {
        transform: rotate(1turn)
    }
}

@media (max-width:47.9375em) and (orientation:portrait) {
    html {
        font-size: 55%
    }
}

@media (max-width:47.9375em) and (orientation:landscape) {
    html {
        font-size: 40%
    }
}

@media (min-width:48em) and (max-width:64em) and (orientation:portrait) {
    html {
        font-size: 90%
    }
}

@media (min-width:48em) and (max-width:64em) and (orientation:landscape) {
    html {
        font-size: 40%
    }
}