@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body,
html {
    overflow-x: hidden;
}

*,
body {
    margin: 0;
}

.login-background,
body {
    height: 100vh;
    width: 100%;
}

* {
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Outfit, sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
}

.modal-card {

    max-width: 130.4rem;
    border-radius: .9rem;
    padding: 1rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-header,.carousal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header .header {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    color: #0076d7;
    margin: 0 auto;

}

.card-header .close {
    margin-left: auto;
    width: 3rem;
    height: 3rem;
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close svg {
    fill: #555;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border: 0.1rem solid #d9d9d9;
    overflow: hidden;
    margin-top: 3rem;
}

.table thead {
    background-color: #d0e9ff;
    position: sticky;
    top: 0;
    /* Keeps the header sticky at the top */
    z-index: 1;
    /* Ensures the header stays above other content */
}

.table thead th {
    font-size: 1.4rem;
    font-weight: bold;
    color: #007bff;
    text-align: start;
    padding: 2rem 3rem;
    border-bottom: 0.1rem solid #b7b7b7;
}

.table tbody {
    max-height: 50vh;
    /* Sets max-height for the table body */
    overflow-y: auto;
    /* Enables vertical scrolling for overflowing content */
    position: relative;
}

.table tbody tr {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    border-bottom: 0.1rem solid #b7b7b7;
}

tr:nth-child(even) {
    background-color: #f8f9fa;
}

.table tbody td,
.table tbody th {
    padding: 2rem 3rem;
    text-align: start;
}
.carousal{
    display: none;
}


@media (max-width: 48em) {
    html{
        font-size: 58%;
    }
    .table {
        display: block;
        margin-top: 0;
        border: none;
    }
.modal-card{
    margin: 2rem;
}
    .modal-card .card-header{
        margin-bottom: 2rem;
    }
    .table thead {
        display: none;
    }

    .table tbody tr {
        display: flex;
        flex-direction: column;
        border: 0.1rem solid #d9d9d9;
        margin-bottom: 1rem;
    }

    .table tbody td,
    .table tbody th {
        font-size: 1.4rem;
        font-weight: bold;
        text-align: start;
        padding: 1.5rem;
        display: block;
        width: 100%;
        border-bottom: none;
    }

    .table tbody td::before {
        content: attr(data-label);
        font-weight: normal;
        color: #0076d7;
        display: block;
        margin-bottom: 0.5rem;
        font-size: 1.4rem;
    }
    .carousal{
        display: flex;
            width: 50%;
            justify-content: space-evenly;
            margin: 0 auto;
        
    }
    .carousal .prev, .carousal .next{
        width: 4rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f0f0f0;
            padding: 1rem;
            border-radius: 50%;
    }
    
    .carousal .carousal-dot{
        list-style: none;
        width: 1rem;
        height: 1rem;
        border: 1px solid #868e96;
        background-color:#f0f0f0 ;
        border-radius: 50%;

    }

   
}